@{
    ViewData["Title"] = "Inicio";
}

<div class="hero-section">
    <div class="container py-5 hero-text">
        <h1>Bienvenido a Barbería Los Hermanos</h1>
        <p>Estilo, tradición y calidad en cada corte.</p>
    </div>
</div>